<div class="wrapper">
    <app-horizontal-navbar></app-horizontal-navbar>
    <app-horizontal-menu></app-horizontal-menu>
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <app-notification-sidebar></app-notification-sidebar>
    <app-customizer></app-customizer>
</div>